{% extends base_template %}

{% load staticfiles %}

{% block title %}Kolibri : A Free, Open Source Education for All{% endblock title%}

{% block headcss %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/kickstarter.css' %}">

    <!-- Custom Fonts -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">
{% endblock headcss %}

{% block footeroverride %}
    {% include "main/partials/_footer_normal.html" %}
{% endblock footeroverride %}

{% block bodycontents %}
<div id="skrollr-body">
    <!-- Header -->
    <header id="kickstarter-header">
        <div class="header-shadow row">
            <div class="intro-text">
                <div class="intro-heading">Kolibri: The offline app for universal education</div>
                <div class="intro-social">
                    {% include "main/partials/_kickstarter_social_btns.html" %}
                </div>
                <img src="{% static 'img/kickstarter/signup.png' %}">
            </div>
        </div>
        <img id="bgvid-btn" src="{% static 'img/kickstarter/video/play-btn.png' %}">
        
        <div class="bgvid_container">
            <video autoplay loop poster="{% static 'img/kickstarter/bgvid_poster.jpg' %}" id="bgvid">
                <source src="{% static 'img/kickstarter/video/background_video.mp4' %}" type="video/mp4">
            </video>
        </div>
    </header>

    <div id="prototype-img">
    </div>

    <!-- Plugin JavaScript -->
    

    <!-- Smooth scrolling and back to top button -->
    <script>
        $(document).ready(function() {
            var offset = $("#parallax_or_mobile").height() * 3;
            $(window).scroll(function() {
                if ($(this).scrollTop() > offset) {
                    $('.back-to-top').fadeIn(300);
                } else {
                    $('.back-to-top').fadeOut(300);
                }
            });
        });
        $('.back-to-top').click(function() {
            var $root = $('html, body');
            $root.animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 1500);
            return false;
        });
    </script>
    <!-- WOW Scrolling JavaScript -->
    <script src="{% static 'js/wow.js' %}"></script>
    <script>
        new WOW().init();

    </script>

     <!-- Popup window code -->
    <script type="text/javascript">
        function newPopup(url) {
            popupWindow = window.open(
                url,'popUpWindow','height=500,width=600,left='+(window.screen.width/2-300)+'px,top='+(window.screen.height/2-250)+'px,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
        }
    </script>
</div>

{% endblock bodycontents %}
